<div class="container text-center my-2">
  <h1 class="mb-5">Contáctanos</h1>

  <h5 class="mb-4">¿Listo para encontrar la propiedad de tus sueños o vender con las mejores condiciones? En Inmobiliaria Bonpland, estamos aquí para ayudarte en cada paso del camino.</h5>
  <h6 class="mb-4"><strong>📞 Teléfono: </strong> +34 697 345 197</h6>
  <h6 class="mb-4"><strong>📧 Email:</strong> andres94.dev&#64;gmail.com</h6>
  <h6 class="mb-4"><strong>📍 Dirección: </strong>C. de Xátiva, Valencia, España</h6>
  <h6 class="mb-4"><strong>🕒 Horario de atención:</strong></h6>
  <p>Lunes a Viernes: 8hs a 14hs - 16hs a 20hs</p>
  <p>Sábados: 8hs a 13hs</p>
  <p>Dominos y festivos: Cerrado.</p>
  <h5 class="mb-4">También puedes enviarnos una <strong>consulta</strong> a través del formulario de cada inmueble y nos pondremos en contacto contigo lo antes posible. ¡Esperamos ser parte de tu próxima gran decisión inmobiliaria!</h5>
    <h4><strong>📩 Déjanos tu consulta y te responderemos a la brevedad.</strong></h4>
</div>