<nav class="navbar navbar-expand-lg bg-body-tertiary navegador">
  <div class="container">
    <a class="navbar-brand" routerLink="/inicio">Inmobiliaria Bonpland</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
        @if (autorizado) {
        <a class="nav-link" routerLink="/admin">ADMINISTRAR</a>
        <a class="nav-link" routerLink="/admin/nuevo">NUEVO INMUEBLE</a>
        }
        @else {
        <a class="nav-link" aria-current="page" routerLink="/inicio">Inicio</a>
        <a class="nav-link" routerLink="/buscar">Buscar inmuebles</a>
        <a class="nav-link" routerLink="/quienes-somos">Quienes somos</a>
        <a class="nav-link" routerLink="/trayectoria">Nuestra trayectoria</a>
        <a class="nav-link" routerLink="/contacto">Contacto</a>
        }
      </div>
      <div class="d-flex">
        @if (autorizado) {
        <a class="nav-link" routerLink="/login" (click)="salir()">Salir</a>
        }
        @else {
        <a class="nav-link" routerLink="/login">Acceder</a>
        }
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="text-center footer fixed-bottom">
  <p class="m-0">Inmobiliaria Bonpland</p>
  <p class="m-0">&copy; Andres Mariano Fernandez - {{anio}}</p>
</footer>